<div class="container">
  <div class="row">
    <% @products.each do |product| %>
    <div class="col-sm">
      <%= image_tag("drink.png") %>
    
    </div>
    <!-- <div class="col-sm">
      <%= image_tag("drink.png") %>
    <div class="col-sm">
      <%= image_tag("drink.png") %>
    </div> -->
    <% end %>
  </div>
</div>