<header class="navbar navbar-fixed-top navbar-lg">
  <div class="container">
    <%= link_to "Foods And Drinks", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", '#' %></li>
        <li><%= link_to "Drinks",'#' %></li>
        <li><%= link_to "Foods", "#" %></li>
        <!-- <li><i class="fas fa-utensils"></i></li> -->
      </ul>
    </nav>
  </div>
</header>